<ion-view class="aboutView" view-title="Sobre" can-swipe-back="true" hide-back-button="false">
  <ion-content scroll="true" class="padding">

    <h1>Urca Safety</h1>
    <div class="padding-horizontal">
      <p>Urca Safety é uma ideia de alunos que surgiu de uma disciplina do curso básico do Instituto Militar de Engenharia.</p>
      <p>O objetivo deste app é melhorar a segurança urbana no Rio de Janeiro, trazendo uma plataforma de fácil uso e acesso para a população registrar ocorrências (roubos, furtos, assaltos, etc.) e visualiá-las no mapa do bairro, mostrando onde ocorreu cada uma delas.</p>
    </div>

    <h4 class="text-center">Este app foi desenvolvido por:</h4>
    <div class="list">
        <div class="item item-avatar">
          <img src="img/dilly.jpg">
          <h2>Gabriel Dilly Vieira Furtuoso</h2>
          <p>2º ano - Ciclo Básico</p>
        </div>
        <div class="item item-avatar">
          <img src="img/hans.jpg">
          <h2>Hans Wagner Gluck</h2>
          <p>2º ano - Ciclo Básico</p>
        </div>
        <div class="item item-avatar">
          <img src="img/rodrigues.jpg">
          <h2>Matheus Rodrigues Affonso</h2>
          <p>2º ano - Ciclo Básico</p>
        </div>
        <div class="item item-avatar">
          <img src="img/roberto.jpg">
          <h2>Roberto Ferreira Franco Moura</h2>
          <p>2º ano - Ciclo Básico</p>
        </div>



      </div>


  </ion-content>

</ion-view>
