<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
  <ion-content scroll="false" class="padding">

    <div class="row" style="height: 90%">
      <div class="col col-center">
        <h1 style="text-align: center;">Urca Safety</h1>
        <div style="display: block; text-align: center; margin-bottom: 10px">
          <button style="width: 200px;" ui-sref="tabs.mapa" class="button icon-left ion-map button-positive">
            Visualizar Mapa
          </button>
        </div>
        <div style="display: block; text-align: center; margin-bottom: 10px">
          <button style="width: 200px;"  ui-sref="tabs.ocorrencias" class="button icon-left ion-document-text button-positive">
            Registrar Ocorrência Teste
          </button>
        </div>

      </div>
    </div>

    <div class="row" style="height: 10%">
      <div class="col col-center padding">
        <button class="button button-clear button-positive" ui-sref="sobre" style="float: right;">
          Sobre Nós
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
