<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
  <ion-content scroll="false" class="padding">

    <div class="row" style="height: 90%">
      <div class="col col-center main-buttons">
        <h1>Urca Safety</h1>
        <br>
        <div>
          <button ui-sref="tabs.map" class="button icon-left ion-map button-positive">
            Visualizar Mapa
          </button>
        </div>
        <div>
          <button ui-sref="tabs.occurrences" class="button icon-left ion-filing button-positive">
            Ocorrências
          </button>
        </div>

      </div>
    </div>

    <div class="row" style="height: 10%">
      <div class="col col-center padding">
        <button class="button button-clear button-positive" ui-sref="about" style="float: right;">
          Sobre Nós
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
