<ion-view class="mapView" view-title="Mapa">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="backToHome()">
      <i class="ion-arrow-left-c"></i> Voltar
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="showUserPopup()">
      <i class="icon ion-android-person"></i>
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <!-- <map center="{{yelp.lat}}, {{yelp.lon}}" zoom="15" disable-default-u-i="true">
      <marker position="{{[yelp.lat, yelp.lon]}}" icon="img/me-marker.png">
      </marker>
        <marker ng-repeat="cafe in yelp.results" icon="img/coffee-marker.png" clickable="true"
                on-mousedown="showCafeDetail(event, cafe)"
                position="{{[cafe.location.coordinate.latitude, cafe.location.coordinate.longitude]}}">
        </marker>
      <info-window id="marker-info">
        <div ng-non-bindable="">
          <div class="contents">
            <img ng-src="{{yelp.cafe.image_url}}" alt="">
            <h4>{{yelp.cafe.name}}</h4>

            <p>{{yelp.cafe.snippet_text}}</p>

            <div class="row">
              <div class="col">
                <p class="address">
                  <i class="ion ion-ios-location"></i>
                  {{yelp.cafe.location.display_address }}
                </p>
              </div>
              <div class="col">
                <p class="distance">
                  <i class="ion ion-ios-navigate"></i>
                  {{yelp.cafe.distance | number:"0"}}m
                </p>
                <p class="rating">
                  <i class="ion ion-star"></i>
                  {{yelp.cafe.rating}}
                  &nbsp;
                  <i class="ion ion-person"></i>
                  {{yelp.cafe.review_count}}
                </p>
              </div>
            </div>
            <div class="button button-small button-assertive" ng-click="getDirections(yelp.cafe)">
              Get Directions
            </div>
          </div>
        </div>
      </info-window>
    </map> -->

    <map center="{{yelp.lat}}, {{yelp.lon}}" zoom="15" disable-default-u-i="true">
      <marker position="{{[yelp.lat, yelp.lon]}}" icon="img/me-marker.png">
      </marker>
      <marker ng-repeat="ocr in yelp.results" icon="img/coffee-marker.png" clickable="true"
              on-mousedown="showOcrDetail(event, ocr)"
              position="{{[ocr.location.lat, ocr.location.lng]}}">
      </marker>
      <info-window id="marker-info">
        <div ng-non-bindable="">
          <div class="contents">
            <img ng-src="{{yelp.ocr.image_url}}" alt="">
            <h4>{{yelp.ocr.title}}</h4>
            <!-- <h4>{{yelp.ocr.name}}</h4> -->

            <p>{{yelp.ocr.description}}</p>

            <div class="row" ng-if="yelp.ocr.location.display_address">
              <div class="col">
                <p class="address">
                  <i class="ion ion-ios-location"></i>
                  {{yelp.ocr.location.display_address}}
                </p>
              </div>
            </div>
            <div class="col" ng-if="yelp.ocr.user">
              <p class="distance">
                <i class="ion ion-person"></i>
                Enviado por: {{yelp.ocr.user}}
              </p>
            </div>
            <!--
            <p class="rating">
              <i class="ion ion-star"></i>
              123
              &nbsp;
              <i class="ion ion-person"></i>
              123
            </p>
            -->
            <!--<div class="button button-small button-assertive" ng-click="getDirections(yelp.ocr)">-->
            <!--Get Directions-->
            <!--</div>-->
          </div>
        </div>
      </info-window>
    </map>

    <button class="button icon ion-plus-round button-positive new-occurrence" ui-sref="tabs.new_occurrence"></button>


  </ion-content>

</ion-view>
