<ion-view class="new_occurrenceView" view-title="Nova Ocorrência" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="goBack()">
      <i class="ion-arrow-left-c"></i> Voltar
    </button>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar local" google-autocomplete-suggestion
               location="data.location" country-code="BR"
               on-selection="onAddressSelection(location)"
               ng-model="data.location.name"
               readonly required>
      </label>
    </div>


  </ion-content>

</ion-view>
