<ion-view class="ocorrenciasView" view-title="Ocorrências">

  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="backToHome()">
      <i class="ion-arrow-left-c"></i> Voltar
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ui-sref="tabs.nova_ocorrencia">
      <i class="icon ion-plus-round"></i>
    </button>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <h1>Ocorrências</h1>
    <ion-list>
        <ion-item class="item item-cion-left" ng-repeat="occurrence in listOccurrences">
            <h2>{{occurrence.title}}</h2>
            {{occurrence.description}}
            <span class="item-note">
                {{displayTime(occurrence)}}
            </span>
        </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
