<ion-view class="sobreView" view-title="Sobre">

  <ion-header-bar class="bar-dark">
  </ion-header-bar>
  <ion-content scroll="true">
    <h1>Urca Safety</h1>
    <p>Urca Safety é uma ideia de alunos que surgiu de uma disciplina do curso básico do Instituto Militar de Engenharia.</p>
    <p>O objetivo deste app é melhorar a segurança urbana no Rio de Janeiro, trazendo uma plataforma de fácil uso e acesso para a população registrar ocorrências (roubos, furtos, assaltos, etc.) e visualiá-las no mapa do bairro, mostrando onde ocorreu cada uma delas.</p>
    <p>Este app foi desenvolvido por:</p>
    <p style="padding-left:15px">Gabriel Dilly Vieira Furtuoso</p>
    <p style="padding-left:15px">Hans Wagner Gluck</p>
    <p style="padding-left:15px">Matheus Rodrigues Affonso</p>
    <p style="padding-left:15px">Roberto Ferreira Franco Moura</p>
  </ion-content>

</ion-view>
